<title>Tao-Zen Ryu Shindo Academy for Martial Arts</title>
<style>
  h1.center {
    text-align: center;
  }
</style>

<div>
  <h1 class="center">Welcome to the Tao-Zen Ryu Shindo Academy for Martial Arts</h1>
</div>
